body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgba(250, 233, 0);
}

header {
  background-color: rgb(250, 233, 0);
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  
  

}

nav {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: #000;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

section {
  width: 60%;
  margin: 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.photo-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.5s;
}

.photo-grid img:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

form {
  margin: 20px 0;
}

label, input, textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

